/***********************************************************************
Utilities
**********************************************************************/

/* Text
----------------------------------------------------------*/
.u-font-size-small {
  font-size: 14px;
}
.u-font-size-normal {
  font-size: 16px;
}
.u-font-size-ex-large {
  font-size: 30px;
}

.u-text-left {
  text-align: left;
}
.u-text-center {
  text-align: center;
}
.u-text-right {
  text-align: right;
}

.u-font-weight-light {
  font-weight: lighter;
}
.u-font-weight-normal {
  font-weight: normal;
}
.u-font-weight-bold {
  font-weight: bold;
}

/* Spacing
----------------------------------------------------------*/
.u-mt-10 {
  margin-top: 10px;
}
.u-mr-10 {
  margin-right: 10px;
}
.u-mb-10 {
  margin-bottom: 10px;
}
.u-ml-10 {
  margin-left: 10px;
}
