.Panel {
  padding: 15px;

  font-size: 30px;
  line-height: 1.0;
  font-family: $mainFont;
  color: #fff;
  text-align: center;

  background: #1abc9c;

  &:not(.-disabled) {
    cursor: pointer;
  }

  &.-disabled {
    opacity: .2;
  }
}
