* {
  padding: 0;
  margin: 0;
}

.Container {
  max-width: 600px;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;

  margin: 0 auto;
}

.Time {
  font-size: 20px;
  text-align: center;

  margin-bottom: 20px;
}

.Numlist {
  display: flex;
  flex-wrap: wrap;

  margin-top: -10px;
  margin-left: -10px;
}
.Numlist_item {
  padding-top: 10px;
  padding-left: 10px;
  width: 25%;
  box-sizing: border-box;
}

.Panel {
  padding: 20px;

  font-size: 20px;
  color: #fff;
  text-align: center;

  background: #1abc9c;

  &:not(.-disabled) {
    cursor: pointer;
  }

  &.-disabled {
    opacity: .2;
  }
}
