* {
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  font-family: $mainFont;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100%;
}

/***********************************************************************
Utilities
**********************************************************************/

/* Text
----------------------------------------------------------*/
.u-font-size-small {
  font-size: 14px;
}
.u-font-size-normal {
  font-size: 16px;
}
.u-font-size-ex-large {
  font-size: 30px;
}

.u-text-left {
  text-align: left;
}
.u-text-center {
  text-align: center;
}
.u-text-right {
  text-align: right;
}

.u-font-weight-light {
  font-weight: lighter;
}
.u-font-weight-normal {
  font-weight: normal;
}
.u-font-weight-bold {
  font-weight: bold;
}

/* Spacing
----------------------------------------------------------*/
.u-mt-10 {
  margin-top: 10px;
}
.u-mr-10 {
  margin-right: 10px;
}
.u-mb-10 {
  margin-bottom: 10px;
}
.u-ml-10 {
  margin-left: 10px;
}


/***********************************************************************
Blocks
**********************************************************************/
.Container {
  max-width: 600px;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;

  margin: 0 auto;
}

.Time {
  font-size: 20px;
  text-align: center;
  font-family: 'VT323', monospace;

  margin-bottom: 20px;
}

.Numlist {
  display: flex;
  flex-wrap: wrap;

  margin-top: -10px;
  margin-left: -10px;
}
.Numlist_item {
  padding-top: 10px;
  padding-left: 10px;
  width: 25%;
  box-sizing: border-box;
}

.Panel {
  padding: 15px;

  font-size: 20px;
  color: #fff;
  text-align: center;

  background: #1abc9c;

  &:not(.-disabled) {
    cursor: pointer;
  }

  &.-disabled {
    opacity: .2;
  }
}
