@import "_init";

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100%;
}


/***********************************************************************
Blocks
**********************************************************************/
.Container {
  max-width: 600px;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;

  margin: 0 auto;
}

.Time {
  font-size: 20px;
  text-align: center;
  font-family: $mainFont;

  margin-bottom: 20px;
}

.Numlist {
  display: flex;
  flex-wrap: wrap;

  margin-top: -10px;
  margin-left: -10px;
}
.Numlist_item {
  padding-top: 10px;
  padding-left: 10px;
  width: 25%;
  box-sizing: border-box;
}
